{
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "semi": false,
    "htmlWhitespaceSensitivity": "css",
    "rangeStart": 0,
    "rangeEnd": 1000000000000000000,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "plugins": [],
    "vueIndentScriptAndStyle": false,
    "pluginSearchDirs": [],
    "printWidth": 80,
    "useTabs": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "overrides": [],
    "singleAttributePerLine": false,
    "filepath": "",
    "parser": "",
    "requirePragma": false,
    "cursorOffset": -1,
    "editorconfig": false,
    "insertPragma": false,
    "bracketSameLine": false,
    "arrowParens": "always",
    "bracketSpacing": false
}
